<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Scott McMahon</p>
          <p class="subtitle is-6">@scottmcmahonSRE</p>
        </div>
      </div>
  
      <div class="content">
        <P [contentEditable]="true">I love working with <a>@Bulma</a>, it's a great alternative to Bootstrap! <a>@bulmaio</a>.
        <a>#css</a> <a>#responsive</a>
        <br>
      </P>
        <small>11:09 PM - 1 Jan 2016</small>
      </div>
    </div>
  </div>
