<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Scott McMahon</h1>
    <h4 class="text-body-emphasis">Support Developer & Site Reliability Engineer</h4>
    
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Enthusiastic problem solver who loves working in cutting edge teams who are passionate about fixing and improving products.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Contact Me!
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Download CV
      </button>
    </div>
  </div>
<app-summary></app-summary>
</div>