<div>
  <section class="hero is-info is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-info is-inverted" href="/download-cv">
                  <span>Download CV</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Scott McMahon
        </p>
        <p class="subtitle">
          Developer/<br>Site Reliability Engineer
        </p>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a href="/home">Overview</a>
            </li>
            <li>
              <a href="/personal-experience">Personal Experience</a>
            </li>
            <li>
              <a href="/professional-experience">Professional Experience</a>
            </li>
            <li> 
              <a href="/working-with-disabilities">Working with Disabilities</a>
            </li>
            <li>
              <a href="/contact-me">Contact Me!</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>