<div>
  <section>
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Scott McMahon
        </p>
        <p class="subtitle">
          Developer/<br>Site Reliability Engineer
        </p>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a href="/home">Overview</a>
            </li>
            <li>
              <a href="/personal-experience">Personal Experience</a>
            </li>
            <li>
              <a href="/professional-experience">Professional Experience</a>
            </li>
            <li> 
              <a href="/working-with-disabilities">Working with Disabilities</a>
            </li>
            <li>
              <a href="/contact-me">Contact Me!</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>